{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Ваш заказ:</h3>
    <ul>
        {% for item in cart_items %}
            <li>{{ item.product.name }} ({{ item.quantity }} шт.)</li>
        {% endfor %}
    </ul>

    <hr>
    <h3>Данные для доставки:</h3>
    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <input type="submit" value="Подтвердить заказ">
    </form>
{% endblock %}